---
layout: page
title: Doação
---

<div class="container-donate">
    <div class="container">
        <p>Tenho desenvolvido o Ncode Linux nos ultimos {{ site.time | date: '%Y' | minus: 2020 }} anos. Sempre foi e continuará gratuito, sem propagandas ou mensalidades. E recentemente tornei o Ncode acessível via Web. Possibilitando o uso em qualquer dispositivo com conexão a internet, independente do sistema operacional em uso.</p>

        <b class="alert alert-primary">CARO USUÁRIO, ESPERO QUE ESTA MENSAGEM O ENCONTRE BEM.</b>
        
Estou escrevendo em nome de todo desenvolvimento de projetos de código aberto pensados e desenvolvidos por mim.
Para pedir sua ajuda e apoio na forma de uma doação para que eu possa continuar aprimorando e mantendo todos os projetos.
Os esforços são dedicados a fornecer uma solução de código aberto acessível e de alta qualidade para que seja utilizado da forma mais simples possível com retorno super funcional. 
Estou orgulhoso do progresso feitos até agora, mas o sucesso contínuo do projeto depende, em grande parte, do apoio generoso de pessoas como você.
Sua doação contribuirá para:
Manter a infraestrutura do projeto: As despesas de hospedagem, servidores, e outros custos associados à manutenção do projeto.
Desenvolvimento contínuo: Recursos, atualizações e aprimoramentos para atender às necessidades da comunidade de usuários.
Suporte técnico: Oferecer suporte a usuários e solucionar problemas relacionados ao projeto.
Promoção e conscientização: Alcançar um público mais amplo e construir uma comunidade forte em torno do projeto.
Sua doação, não importa o valor, faz uma diferença significativa. E, como agradecimento por seu apoio, estamos oferecendo [descreva quaisquer recompensas ou benefícios para doadores, como acesso antecipado a recursos, reconhecimento público, etc.].
Para doar, basta escolher uma das formas implementadas aqui. e siga as instruções. Todas as contribuições são bem-vindas e serão usadas de maneira responsável para o benefício de nossa comunidade de usuários e da evolução do projeto.
Agradecemos antecipadamente por sua generosidade e apoio contínuo ao nosso projeto. Juntos, podemos continuar a fazer a diferença e criar um impacto positivo no mundo do código aberto.
Se você tiver alguma dúvida ou precisar de mais informações, não hesite em entrar em contato comigo através do Telegram @Nilsonlinux.
Muito obrigado pela consideração e pelo apoio contínuo.</p>

Atenciosamente,</p>

Josenilson (Nilsonlinux)</p>
Desenvolvimento automatizacional</p>
Ncode - Automação</p>
nilsonlinux@gmail.com</p>
</p>

        <div class="text-center">
            <a class="btn" role="button" href="https://github.com/sponsors/Jaex">
                <i class="fa-brands fa-github"></i>GitHub Sponsor<i class="fa-solid fa-star"></i>
            </a>
            <a class="btn" role="button" href="https://www.patreon.com/ShareX">
                <i class="fa-brands fa-patreon"></i>Patreon
            </a>
            <a class="btn" role="button" href="#" data-toggle="modal" data-target="#bitcoin-modal">
                <i class="fa-solid fa-dollar-sign"></i>Faça um PIX<i class="fa-solid fa-usd"></i>
            </a>            
            <a class="btn" role="button" href="#" data-toggle="modal" data-target="#bitcoin-modal">
                <i class="fa-brands fa-bitcoin"></i>Bitcoin
            </a>
            <a class="btn" role="button" href="#" data-toggle="modal" data-target="#ethereum-modal">
                <i class="fa-brands fa-ethereum"></i>Ethereum
            </a>
        </div>


        <div id="pix-modal" class="modal fade crypto-modal" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title w-100 text-center"><i class="fa-solid fa-dollar-sign"></i>Faça um PIX</h4>
                        <button type="button" class="close" data-dismiss="modal">
                            <span>&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="text-center">
                            <img class="crypto-qr" src="/img/infinitepay.png" />
                            <div class="crypto-address">
                                <input type="text" class="form-control" value="nilsonlinux@meu.pix" readonly />
                                <a class="btn btn-clipboard-copy" role="button">Copiar</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>        

        <div id="bitcoin-modal" class="modal fade crypto-modal" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title w-100 text-center"><i class="fa-brands fa-bitcoin"></i>Bitcoin</h4>
                        <button type="button" class="close" data-dismiss="modal">
                            <span>&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="text-center">
                            <img class="crypto-qr" src="/img/Bitcoin_QR.png" />
                            <div class="crypto-address">
                                <input type="text" class="form-control" value="bc1qqcxjwyle23gnwscec2d2ef3n7hh5pl9yq6fthq" readonly />
                                <a class="btn btn-clipboard-copy" role="button">Copiar</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="ethereum-modal" class="modal fade crypto-modal" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title w-100 text-center"><i class="fa-brands fa-ethereum"></i>Ethereum</h4>
                        <button type="button" class="close" data-dismiss="modal">
                            <span>&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="text-center">
                            <img class="crypto-qr" src="/img/Ethereum_QR.png" />
                            <div class="crypto-address">
                                <input type="text" class="form-control" value="0x01A2912Ed1CB69E51EE267614d73BfBccE385E09" readonly />
                                <a class="btn btn-clipboard-copy" role="button">Copiar</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-donate-2">
    <div class="container">
        <div class="patrons-panel">
            <h3>Donators</h3>
            <table class="table">
                <tr>
                    <th>Name</th>
                    <th>Website</th>
                    <th>Total donation amount</th>
                </tr>
                {% assign sortedDonators = site.data.donators | sort: "amount" | reverse %}
                {% for donator in sortedDonators %}
                <tr>
                    <td>{{ donator.name }}
                        {% if donator.twitter %}<a href="{{ donator.twitter }}"><i class="fab fa-twitter"></i></a>{% endif %}
                        {% if donator.facebook %}<a href="{{ donator.facebook }}"><i class="fab fa-facebook"></i></a>{% endif %}
                        {% if donator.github %}<a href="{{ donator.github }}"><i class="fab fa-github"></i></a>{% endif %}
                        {% if donator.twitch %}<a href="{{ donator.twitch }}"><i class="fab fa-twitch"></i></a>{% endif %}
                        {% if donator.youtube %}<a href="{{ donator.youtube }}"><i class="fab fa-youtube"></i></a>{% endif %}
                        {% if donator.linkedin %}<a href="{{ donator.linkedin }}"><i class="fab fa-linkedin"></i></a>{% endif %}
                        {% if donator.instagram %}<a href="{{ donator.instagram }}"><i class="fab fa-instagram"></i></a>{% endif %}
                        {% if donator.steam %}<a href="{{ donator.steam }}"><i class="fab fa-steam"></i></a>{% endif %}
                    </td>
                    <td>{% if donator.website %}<a href="{{ donator.website }}">{{ donator.website }}</a>{% endif %}</td>
                    <td>{% if donator.amount %}${{ donator.amount }}{% else %}*{% endif %}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>

{% include common-js.html %}
<script src="/js/sharex.donate.js"></script>
